<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.jep.volta</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>focus</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.613349634589-1d8mmjai794ia29pluv97t21mj2349ej</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>613349634589-1d8mmjai794ia29pluv97t21mj2349ej.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Satoshi-Regular.otf</string>
		<string>Satoshi-Medium.otf</string>
		<string>Satoshi-Bold.otf</string>
		<string>Satoshi-Black.otf</string>
		<string>Satoshi-Light.otf</string>
		<string>Satoshi-Italic.otf</string>
		<string>Satoshi-MediumItalic.otf</string>
		<string>Satoshi-BoldItalic.otf</string>
		<string>Satoshi-BlackItalic.otf</string>
		<string>Satoshi-LightItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Focus utilise votre position pour personnaliser votre expérience et vous proposer des rappels contextuels basés sur votre emplacement.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Focus utilise le microphone pour enregistrer vos messages vocaux et notes audio.</string>
</dict>
</plist>
